In [3]:
import pandas as pd
import urllib

In [36]:
def build_df(year, month, day, hour):
    """
    returns a pandas dataframe with columns:
        project, article, views, content_returned
    based on input date string:
        e.g, "2016", "06", "24", "01"
    files are found at
        https://dumps.wikimedia.org/other/pagecounts-all-sites/2016/2016-05/pagecounts-20160501-000000.gz
    """
    base_url_string = "https://dumps.wikimedia.org/other/pagecounts-all-sites/"
    url_string = base_url_string + "/" + year + "/" + year + "-" + month
    url_string += "/pagecounts-" + year + month + day + "-" + hour + "0000.gz"
    
    file_name = year + month + day + "-" + hour + ".gz"
    
    # download file
    opener = urllib.URLopener()    
    opener.retrieve(url_string, file_name)
    

    # return data frame
    df = pd.read_csv(file_name, compression="gzip", sep=" ", 
                 error_bad_lines=False, header=None)
    df.columns = ['project', 'article', 'views', 'content_returned']
    # include only en-wiki
    df = df[df['project'] == 'en']
    df = df[['article', 'views']]
    
    return df

def combine_dataframe(df1, df2):
    """
    sums the page views in the given dataframes
        uses an outer join (treating nan as 0)
    returns a new dataframe
        'article', 'views'
    """
    df_combined = df1.merge(df2, left_on='article', right_on='article', how='outer')
    df_combined.fillna(0, inplace=True)
    df_combined['views'] = df_combined['views_x'] + df_combined['views_y']
    df_combined = df_combined[['article', 'views']]
    df_combined = df_combined.drop_duplicates('article')
    df_combined.set_index('article', inplace=True)
    
    return df_combined

In [37]:
%%timeit
df1 = build_df("2016", "06", "01", "01")

1 loop, best of 3: 1min 17s per loop

In [8]:
df1.head()

                article  views
1112122             NaN    987
1112123               !     13
1112124              !!      1
1112125             !!!      4
1112126  !!!Fuck_You!!!      2

In [11]:
df2 = build_df("2016", "06", "02", "01")

In [12]:
df_combined = df1.merge(df2, left_on='article', right_on='article', how='outer')

In [20]:
df_combined.fillna(0, inplace=True)

In [21]:
df_combined['views'] = df_combined['views_x'] + df_combined['views_y']

In [26]:
df_c = combine_dataframe(df1, df2)

In [27]:
df_c.head()

  article  views
0       0   1874
1       0   1000
2       0    888
3       0     14
4       0    902

In [32]:
df_c.drop_duplicates('article').describe()

                views
count  4124634.000000
mean         3.170189
std        177.316497
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max     351289.000000

In [34]:
df_c.drop_duplicates('article').to_csv("test_csv.csv")

In [35]:
df_c.drop_duplicates('article')

                                         article  views
0                                              0   1874
6                                              !     14
7                                             !!      1
8                                            !!!     13
9                                 !!!Fuck_You!!!      3
10                                   !!!_(album)      3
11                            !!Destroy-Oh-Boy!!      1
12                                  !!Fuck_you!!      1
13                          !!Que_Corra_La_Voz!!      1
14                                    !!_(chess)      1
15                           !!_(disambiguation)      1
16                                          !%3F      1
17                                         !%3F!      1
18                            !%3FRevolution!%3F      1
19                                  !%3F_(chess)      1
20                                     !337$P34K      1
21                                    !A_Luchar!      1
22                                 !Action_Pact!      1
23       !Amigos!_(Arrested_Development_episode)      1
24                          !Arriba!_La_Pachanga      1
25                               !Ask_a_Mexican!      2
26                                       !Atame!      2
27                          !Ay,_Carmela!_(film)      2
28                                 !Ay,_caramba!      4
29                                        !BANG!      3
30                                        !Bang!      4
31                                     !Bang!_TV      4
32                                    !Basta_Ya!      5
33                                   !Bastardos!      5
34                           !Bastardos!_(album)      4
...                                          ...    ...
4124609                            Äynu_language      1
4124610                   Ælfgifu_of_Northampton      1
4124611                                  Çatalca      1
4124612   École_normale_supérieure_William_Ponty      1
4124613                  Édouard_Drouyn_de_Lhuys      1
4124614                        Édouard_Thouvenel      1
4124615                             Émile_Loubet      1
4124616                                      Érd      1
4124617                      Étienne-Louis_Malus      1
4124618                             Óbuda_Island      1
4124619                                       è¤      4
4124620                Ānanda_(Hindu_philosophy)      1
4124621                                        Ă      1
4124622                        Đorđe_Radovanović      1
4124623                                  Đà_Nẵng      1
4124624                                 Đại_Việt      1
4124625                           Ōiso,_Kanagawa      1
4124626                                 Ōnin_War      1
4124627                              Śrāvakayāna      1
4124628                               Śvētāmbara      1
4124629                     ŠK_Slovan_Bratislava      1
4124630                      Šibenik-Knin_County      1
4124631                         Štadión_Pasienky      1
4124632                                   Šumiac      1
4124633                      Żeligowski's_Mutiny      1
4124634                             Žitný_ostrov      1
4124635                               Ṣaḍāyatana      1
4124636                             ‘Yeo-Person’      1
4124637                                    涪陵区办假      1
4124638                                    重庆市办假      1

[4124634 rows x 2 columns]